/* CSS do Topbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;


}

#contatos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 5mm;
}

.face {
  height: 5mm;
  width: 3.5mm;
  filter: invert(1);
}

.youtube {
  height: 4.5mm;
  width: 4.5mm;
  filter: invert(1);
}

.instagram {
  height: 4.5mm;
  width: 4.5mm;
  filter: invert(1);
}

.twitter {
  height: 3.5mm;
  width: 3.5mm;
  filter: invert(1);
}

.linkedin {
  height: 4mm;
  width: 4mm;
  filter: invert(1);
}

#menubutton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.topo {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100px;
  background-color: #ffffff;
  align-items: center;
  border-bottom: 4px solid #f78b1f;
  -webkit-box-shadow: 0px 8px 15px -11px #000000;
  box-shadow: 0px 8px 15px -11px #000000;
}

.logo {
  width: 100px;
  height: 65px;
  margin-right: 5%;
  margin-left: 5%;
}

.logoBotoes {
  margin-left: 5mm;
}

.divLogo {
  width: auto;
  display: flex;
  justify-content: space-between;

}

.btn-social {
  flex-wrap: wrap;
  /* margin: 10px; */
  border-radius: 6px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  border: none;
  background-color: #a7a8aa;
  width: 32px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.btn-social:hover {
  background-color: #01468a;
  transition: all 0.3s ease-in-out;
}

#botao {
  border-radius: 8px;
  margin-top: 8mm;
  height: 8mm;
  width: 20mm;
  background-color: #ffffff;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 90px;
  background-color: #ffffff;
  border-radius: 2mm;
  color: #01468a;
  font-size: 16pt;
  border: #ffffff;
}

.botao:hover {
  transform: scale(1.1);
  background-color: #01468a;
  color: #ffffff;
}

a {
  text-decoration: none;
}

#bt-menu-response {
  width: 50px;
  height: 50px;
  background: url(images/icon-menu.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  margin-right: 5mm;
  display: none;
}

/* ================================================================================ */

@media only screen and (max-width:600px) {

  .divLogo {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    align-items: center;
  
  }

  .topo {
    justify-content: space-between;
    height: 90px;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-end;
  }

  #bt-menu-response {
    display: flex;
  }

  #menubutton {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    display: none;
  }

  .botao:hover {
    transform: scale(1);
    background-color: #ffffff;
    color: #01468a;
  }

  #contatos {
    display: none;
    margin-top: 250px;
  }

  .btn-social {
    background-color: #004A8D;
    width: 35.08px;
    height: 35.08px;
  }
  

}




/* .menu-mobile{
display: flex;
justify-content: space-between;
    width: 100%;
    min-height: 100px;
    background-color: #ffffff;
    align-items: center;
    border-bottom: 4px solid #f78b1f;
  }

  #bt-menu-response{
    width: 50px;
    height: 50px;
    background: url(images/icon-menu.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    margin-right: 5mm;
  } */